
@{
    ViewBag.Title = "Index";
}

    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="la la-puzzle-piece"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    YIGISOFT E-Dönüşüm
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-pricing-1 kt-pricing-1--fixed">
                <div class="kt-pricing-1__items row">
                    <div class="kt-pricing-1__item col-lg-4 p-5" style="text-align:center;">
                        <div class="kt-pricing-1__visual">
                            <div class="kt-pricing-1__hexagon1"></div>
                            <div class="kt-pricing-1__hexagon2"></div>
                            <span class="kt-pricing-1__icon kt-font-brand"><i class="flaticon2-delivery-package" style="font-size:12.57rem;"></i></span>
                        </div>
                        <span class="kt-pricing-1__price">YIGISOFT</span>
                        <h2 class="kt-pricing-1__subtitle">E - Dönüşüm Paketleri</h2>
                        <span class="kt-pricing-1__description">
                            <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                            <span>sed do eiusmod elpors labore et dolore</span>
                            <span>magna siad enim aliqua</span>
                        </span>
                        <div class="kt-pricing-1__btn">
                            <a href="http://www.yigisoft.com" class="btn btn-brand btn-wide btn-bold btn-upper">İletişme Geç</a>
                        </div>
                    </div>
                    <div class="kt-pricing-1__item col-lg-4 p-5" style="text-align:center;">
                        <div class="kt-pricing-1__visual">
                            <div class="kt-pricing-1__hexagon1"></div>
                            <div class="kt-pricing-1__hexagon2"></div>
                            <span class="kt-pricing-1__icon kt-font-brand"><i class="flaticon2-poll-symbol" style="font-size:12.57rem;"></i></span>
                        </div>
                        <span class="kt-pricing-1__price">YIGISOFT</span>
                        <h2 class="kt-pricing-1__subtitle">Veri Analizleri</h2>
                        <span class="kt-pricing-1__description">
                            <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                            <span>sed do eiusmod elpors labore et dolore</span>
                            <span>magna siad enim aliqua</span>
                        </span>
                        <div class="kt-pricing-1__btn">
                            <a href="http://www.yigisoft.com" class="btn btn-brand btn-wide btn-bold btn-upper">İletişme Geç</a>
                        </div>
                    </div>
                    <div class="kt-pricing-1__item col-lg-4 p-5" style="text-align:center;">
                        <div class="kt-pricing-1__visual">
                            <div class="kt-pricing-1__hexagon1"></div>
                            <div class="kt-pricing-1__hexagon2"></div>
                            <span class="kt-pricing-1__icon kt-font-brand"><i class="flaticon2-world" style="font-size:12.57rem;"></i></span>
                        </div>
                        <span class="kt-pricing-1__price">YIGISOFT</span>
                        <h2 class="kt-pricing-1__subtitle">Web Platform Projeleri</h2>
                        <span class="kt-pricing-1__description">
                            <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                            <span>sed do eiusmod elpors labore et dolore</span>
                            <span>magna siad enim aliqua</span>
                        </span>
                        <div class="kt-pricing-1__btn">
                           <a href="http://www.yigisoft.com" class="btn btn-brand btn-wide btn-bold btn-upper">İletişme Geç</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    