@model ProductStockTracking.Entities.Dtos.UserForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml"; ;
}

    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Admin Paneli İçin</h3>
            <div class="kt-login__desc">Şifre Yenileme.</div>
        </div>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "kt-form", id = "kt-form" }))
        {
            

            @Html.HiddenFor(model => model.UniqueId)
            <div class="input-group">
                <input class="form-control" type="password" placeholder="Yeni Şifrenizi Girin" required name="Password" autocomplete="off">
            </div>
            <div class="input-group">
                <input class="form-control" type="password" placeholder="Şifreyi Tekrar Girin" required name="AgainPasswword">
            </div>


            <div class="kt-login__actions">
                <button id="" type="submit" class="btn btn-block btn-brand btn-elevate ">Giriş</button>
            </div>
        }

    </div>



@section scripts{
    @if (ViewBag.Message != null)
    {

        <script>



            function error() {
                swal("İşlem Başarısız!", "@ViewBag.Message", "error");
            }

            error();
        </script>
    }

}

