@model ProductStockTracking.Entities.Dtos.UserLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml"; ;

}



<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Admin Paneli İçin</h3>
    </div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "kt-form", id = "kt-form" }))
    {
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Kullanıcı Adı" required="zorn" name="username" autocomplete="off">
        </div>
        <div class="input-group">
            <input class="form-control" type="password" placeholder="Şifre" required name="password">
        </div>
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox">
                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-control" })Beni Hatırla

                    <span></span>
                </label>
            </div>
            <div class="col kt-align-right">
                <a href="javascript:;" id="kt_login_forgot" class="kt-login__link">Şifremi Unuttum</a>
            </div>
        </div>
        <div class="kt-login__actions">
            <button id="" type="submit" class="btn btn-block btn-brand btn-elevate ">Giriş</button>
        </div>
    }
</div>

<div class="kt-login__forgot">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Şifremi Unuttum ?</h3>
        <div class="kt-login__desc">Hesabına kayıtlı mail adresini gir.</div>
    </div>
    <form class="kt-form" action="">
        <div class="input-group ">

            <input class="form-control" type="email" required placeholder="Email" name="email" id="kt_email" autocomplete="off">
        </div>
        <br />
        <div class="">
            <button id="kt_login_forgot_cancel" class="btn btn-block btn-brand btn-elevate kt-login__btn-primary" onclick="sendForgotPasswordEmail()">Gönder</button>&nbsp;&nbsp;<br />
            <button id="kt_login_forgot_cancel" class="btn btn-block btn-light btn-elevate kt-login__btn-secondary">İptal</button>
        </div>
    </form>
</div>

@section scripts{

    @if (TempData["NewPasswordMessage"] != null)
    {
        string s = (string)TempData["NewPasswordMessage"];
        <script>



            function passwordReset() {
                swal("İşlem Başarılı!", "@s", "success");
            }

            passwordReset();
        </script>
    }


    @if (ViewBag.Message != null)
    {
        <script>



            function error() {
                swal("İşlem Başarısız!", "@ViewBag.Message", "error");
            }

            error();
        </script>
    }


    <script>
        function sendForgotPasswordEmail() {


            var email = $('#kt_email').val();
            var postdata = {email :email };
            $.post("@Url.Action("SendForgotPasswordEmail","Account")", postdata, function (res) {

                var resObj=jQuery.parseJSON(res)
                if (resObj.Success) {
                    document.getElementById("kt_email").value = "";

                   swal("İşlem Başarılı!", "Şifreni yenileme postası mailine gönderildi ! Mailini kontrol Et!", "success");


                }
                else {
                    //$("#toastWarnings").removeClass("hide");
                    //$("#Message").text(resObj.Message);

                    //setTimeout(toastHide, 5000);
                    document.getElementById("kt_email").value = "";
                    swal("İşlem Başarısız!", resObj.Message, "error");


                }
            }).fail(function () {
                    // $("#toastWarnings").removeClass("hide");
                    //$("#Message").text(resObj.Message);


                    //setTimeout(toastHide, 5000);
                document.getElementById("kt_email").value = "";
                swal("İşlem Başarısız!", resObj.Message, "error");
            });
        }
    </script>
}

