@model ProductStockTracking.Entities.Concrete.ProductType
@{
    ViewBag.Title = "AddProductType";
}



<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">

            @using (Html.BeginForm("AddProductType", "Product", FormMethod.Post, new { @class = "kt-form", id = "kt-form" }))
            {
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Arızalı Telefon Ekle <small>Dikkat !</small></h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <a href="#" class="btn btn-clean kt-margin-r-10">
                                <i class="la la-arrow-left"></i>
                                <span class="kt-hidden-mobile">Back</span>
                            </a>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-brand">

                                    <span class="kt-hidden-mobile">
                                        <i class="la la-check"></i>
                                        Kaydet
                                    </span>

                                </button>


                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-8">
                                <div class="kt-section kt-section--first">
                                    <div class="kt-section__body">
                                        <h3 class="kt-section__title kt-section__title-lg">Telefon Bilgileri :</h3>
                                        <div class="form-group row">
                                            <label class="col-3 col-form-label">Barkod</label>
                                            <div class="col-9">
                                                @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2"></div>
                        </div>

                    </div>
                </div>
            }
            <!--end::Portlet-->
        </div>
    </div>
</div>


@section scripts{



    @if (ViewBag.ErrorMessage != null)
    {
        <script>
            function message() {
                swal("İşlem Başarısız!", "@ViewBag.ErrorMessage", "error");

            }
            message();


        </script>
    }

    else
    {
        <script>

            function message() {

            }

            message();


        </script>
    }


    <script src="~/Scripts/jquery-3.5.0.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}